<div class="about">
  <div class="container">
    <div class="about__left">
      <div class="about__left_menu-wrapper">
        <h3 class="about__header">Главная</h3>
        <a href='#' class="about__menu_item">Автошкола Онлайн</a>
      </div>
      <div class="about__content">
        <h1 class="about__content_header">Автошкола Онлайн</h1>
        <span class="about__content_text">Онлайн обучение представляет из себя дистанционное изучение теоретической части. Теперь не стоит откладывать обучение из-за нехватки времени. Изучать материал можно в удобное время, с любого устройства и где бы Вы не находились. Уроки сделаны специалистами в максимально удобной для восприятия форме и доступный каждому,
        не зависимо от уровня подготовки. Онлайн курс позволит сэкономить не только время и деньги, но и сократить срок обучения.</span>
      </div>
      <button class="button about__btn">Записаться</button>
    </div>
    <div class="about__right">
      <img src="../img/Main-background.png" alt="background">
      <div class="about__right_icon clock-icon">
        <div class="about__ico"><img src="../img/svg/clock.svg" alt="lesson"></div>
        <div class="about__descr">Занятия в <br>удобное время</div>
      </div>

      <div class="about__right_icon flash-icon">
        <div class="about__ico"><img src="../img/svg/flash.svg" alt="effect"></div>
        <div class="about__descr">Проверенная <br>эффективность</div>
      </div>

      <div class="about__right_icon book-icon">
        <div class="about__ico"><img src="../img/svg/book.svg" alt="metod"></div>
        <div class="about__descr">Собственная<br> методика</div>
      </div>

      <div class="about__star1-icon">
        <div class="about__ico"><img src="../img/svg/star.svg" alt="star icon"></div>
      </div>

      <div class="about__star2-icon">
        <div class="about__ico"><img src="../img/svg/star.svg" alt="star icon"></div>
      </div>
    </div>
    <div class="about__choice">
      <h3 class="about__content_header subheader">Онлайн обучение выбирают</h3>
      <div class="about__choice-wrapper">
        <div class="about__choice-item animate__animated animate__backInRight">
          <div class="about__choice_img"><img src="../img/svg/u_baby-carriage.svg" alt="choice"></div>
          <span class="about__choice_content">Мамы в декрете</span>
        </div>

        <div class="about__choice-item animate__animated animate__backInRight">
          <div class="about__choice_img"><img src="../img/svg/u_graduation-cap.svg" alt="choice"></div>
          <span class="about__choice_content">Студенты</span>
        </div>

        <div class="about__choice-item animate__animated animate__backInRight">
          <div class="about__choice_img"><img src="../img/svg/u_mountains-sun.svg" alt="choice"></div>
          <span class="about__choice_content">Люди проживающие за городом</span>
        </div>

        <div class="about__choice-item animate__animated animate__backInRight">
          <div class="about__choice_img"><img src="../img/svg/u_calendar-alt.svg" alt="choice"></div>
          <span class="about__choice_content">Люди со сменным ненормированным графиком работы</span>
        </div>

        <div class="about__choice-item animate__animated animate__backInRight">
          <div class="about__choice_img"><img src="../img/svg/u_car.svg" alt="choice"></div>
          <span class="about__choice_content">Для замены иностранного водительского удостоверения</span>
        </div>
      </div>
    </div>
    <div class="about__benefits">
      <h3 class="about__content_header subheader">Преимущества дистанционного обучения</h3>
      <ul class="about__benefits_list">
        <li class="animate__animated animate__backInUp">Низкая стоимость</li>
        <li class="animate__animated animate__backInUp">Свободный график</li>
        <li class="animate__animated animate__backInUp">Возможность повторного просмотра лекций</li>
        <li class="animate__animated animate__backInUp">Доступ к личному кабинету 24/7</li>
        <li class="animate__animated animate__backInUp">Сокращенный срок обучения</li>
        <li class="animate__animated animate__backInUp">Использование любого устройства (телефон, планшет, комьютер)</li>
      </ul>
    </div>
  </div>

</div>
