<div class="about">
  <div class="container">
    <div class="about__left">
      <div class="about__left_menu-wrapper">
        <h3 class="about__header">Главная</h3>
        <a href='#' class="about__menu_item">Автошкола Онлайн</a>
      </div>
      <div class="about__content">
        <h1 class="about__content_header">Автошкола Онлайн</h1>
        <span class="about__content_text">Онлайн обучение представляет из себя дистанционное изучение теоретической части. Теперь не стоит откладывать обучение из-за нехватки времени. Изучать материал можно в удобное время, с любого устройства и где бы Вы не находились. Уроки сделаны специалистами в максимально удобной для восприятия форме и доступный каждому,
        не зависимо от уровня подготовки. Онлайн курс позволит сэкономить не только время и деньги, но и сократить срок обучения.</span>
      </div>
      <button class="button about__btn">Записаться</button>
    </div>
    <div class="about__right">
      <img src="../img/Main-background.png" alt="background">
      <div class="about__right_icon clock-icon">
        <div class="about__ico"><img src="../img/svg/clock.svg" alt="lesson"></div>
        <div class="about__descr">Занятия в <br>удобное время</div>
      </div>

      <div class="about__right_icon flash-icon">
        <div class="about__ico"><img src="../img/svg/flash.svg" alt="effect"></div>
        <div class="about__descr">Проверенная <br>эффективность</div>
      </div>

      <div class="about__right_icon book-icon">
        <div class="about__ico"><img src="../img/svg/book.svg" alt="metod"></div>
        <div class="about__descr">Собственная<br> методика</div>
      </div>

      <div class="about__star1-icon">
        <div class="about__ico"><img src="../img/svg/star.svg" alt="star icon"></div>
      </div>

      <div class="about__star2-icon">
        <div class="about__ico"><img src="../img/svg/star.svg" alt="star icon"></div>
      </div>
    </div>
  </div>

</div>
