<footer class="footer">
	<div class="container">
    <div class="footer__top">
      <div class="footer__contacts">
        <a href="#" class="footer__logo">
          <img src="../img/logo.png" alt="лого">
        </a>
        <a href="tel:+74998775180" class="footer__phone">+7 (499) 877-51-80</a>
        <div class="footer__adress">
          <address class="footer__adr">11508, г. Москва, ул. Южнопортовая, д.5, стр.7</address>
          <span class="footer__worktime">пн-пт: 09:00-19:00; сб-вс: 10:00-18:00</span>
        </div>
      </div>

      <div class="footer__content-item">
        <ul class="content-item__list">
          <li>Категория В (МКП)</li>
          <li>Категория В (АКП)</li>
          <li>Категория А, А1</li>
          <li>Категория АІ</li>
          <li>Категория М</li>
        </ul>

        <ul class="content-item__list">
          <li><a href='#'>Акции</a></li>
          <li><a href='#'>О нас</a></li>
          <li><a href='#'>Галерея</a></li>
          <li><a href='#'>Контакты</a></li>
        </ul>

        <ul class="content-item__list">
          <li><a href='#'>Расписание</a></li>
          <li><a href='#'>Площадка</a></li>
          <li><a href='#'>Блог</a></li>
          <li><a href='#'>Филиалы</a></li>
        </ul>
      </div>

      <div class="footer__social">
        <div class="footer__social_icons">
          <a href="#" class="footer__social-item">
            <img src="../img/svg/vk.svg" alt="vk">
          </a>
          <a href="#" class="footer__social-item">
            <img src="../img/svg/insta.svg" alt="insta">
          </a>
          <a href="#" class="footer__social-item">
            <img src="../img/svg/youtube.svg" alt="youtube">
          </a>
        </div>

        <div class="footer__social_store">
          <a href="#" class="footer__store-item">
            <img src="../img/svg/download-on-the-app-store-apple-logo-svgrepo-com.svg" alt="app store">
          </a>
          <a href="#" class="footer__store-item">
            <img src="../img/svg/google-play-badge.png" alt="google">
          </a>
          <a href="#" class="footer__store-item">
            <img src="../img/svg/google-play-badge.png" alt="yandex">
          </a>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__bottom_left">
        <span>ИНН 5034045337<br>КПП 503401001 / 0ГРН 1135034000287</span>
      </div>

      <div class="footer__bottom_right">
        <span>&copy; 2013-2022 Автошкола "Реал"</span>
        <span>Все права защищены. Копирование материалов разрешено  только с согласия  правообладателя</span>
      </div>
    </div>
  </div>
</footer>
