<div class="instructor">
  <div class="container">
    <h3 class="about__content_header subheader">Инструкторы</h3>
    <select class="location-select" name="location">
      <option value="1">Орехово-Зуево</option>
      <option value="2">Масквабад</option>
    </select>

    <div class="instructor__content">
      <div class="instructor__left">
        <span class="instructor__left_descr">Эффективность обучения во многом зависит от    инструктора, поэтому для нашей автошколы «Реал» мы отобрали квалифицированных водителей, имеющих не только большой стаж вождения, но и опыт в преподавании. Они доступно излагают материал, всегда готовы прийти на помощь, а также легко находят общий язык с аудиторией.</span>
        <span class="instructor__left_descr">Для того чтобы вам проще было выбрать инструктора для себя, на нашем сайте реализована рейтинговая система. Вы сможете ознакомиться с портфолио конкретного специалиста, его оценкой и отзывами от предыдущих учеников.</span>
        <button class="button instructor__btn">Все инструкторы</button>
      </div>

      <div class="instructor__right">
        <div class="instructor__slider">
          <div class="instructor__slider_item">
            <img src="../img/svg/instructor1.png" alt="слайд 1">
            <h4 class="instructor__name">Овчинников <br>Иван Алексеевич</h4>
            <span class="instructor__stage">водительский стаж <br>10 лет</span>

            <div class="instructor__raiting">
              <span class="instructor__raiting_descr">Рейтинг инструктора</span>
              <div class="instructor__raiting_wrapper">
                <div class="instructor__raiting_star-icon">
                  <img src="../img/svg/star-solid.svg" alt="star">
                </div>
                <div class="instructor__raiting_scale">4,9</div>
              </div>
            </div>
          </div>

          <div class="instructor__slider_item">
            <img src="../img/svg/instructor2.png" alt="слайд 2">
            <h4 class="instructor__name">Пермяков <br>Андрей Леонидович</h4>
            <span class="instructor__stage">водительский стаж <br>25 лет</span>

            <div class="instructor__raiting">
              <span class="instructor__raiting_descr">Рейтинг инструктора</span>
              <div class="instructor__raiting_wrapper">
                <div class="instructor__raiting_star-icon">
                  <img src="../img/svg/star-solid.svg" alt="star">
                </div>
                <div class="instructor__raiting_scale">5,0</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
