<div class="level">
  <div class="container">
    <h3 class="about__content_header subheader">Этапы прохождения обучения</h3>

    <div class="level__wrapper">
      <div class="level__item">
        <div class="level__item_top">
          <div class="round-dotted">
            <div class="round-solid">1</div>
          </div>
          <div class="line-dot"></div>
        </div>
        <div class="level__item_bottom">Изучение теоретической <br>части</div>
      </div>

      <div class="level__item">
        <div class="level__item_top">
          <div class="round-dotted">
            <div class="round-solid">2</div>
          </div>
          <div class="line-dot"></div>
        </div>
        <div class="level__item_bottom">Вождение <br> с инструктором</div>
      </div>

      <div class="level__item">
        <div class="level__item_top">
          <div class="round-dotted">
            <div class="round-solid">3</div>
          </div>
          <div class="line-dot"></div>
        </div>
        <div class="level__item_bottom">Внутренний экзамен <br> в автошколе</div>
      </div>

      <div class="level__item">
        <div class="level__item_top">
          <div class="round-dotted">
            <div class="round-solid">4</div>
          </div>
        </div>
        <div class="level__item_bottom">Экзамен в ГИБДД <br> в сопровождении автошколы</div>
      </div>

    </div>
  </div>
</div>
