<div class="study">
  <div class="container">
    <h3 class="about__content_header subheader">Чтобы начать обучение, нет необходимости<br> ждать набора группы, занятия начнутся <br> в день заключения договора!</h3>
    <span class="study__recording">Записаться и начать обучение можно не выходя из дома:</span>

    <div class="study__wrapper">
      <div class="study__steps animate__animated animate__backInRight">
        <div class="study__steps_top">
          <div class="study__qr-code"><img src="../img/svg/qr-code.png" alt="qr-code"></div>
          <div class="img-part study__download-ico"><img src="../img/svg/fi_download.svg" alt="download"></div>
          <div class="img-part study__cross-ico"><img src="../img/svg/cross.svg" alt="cross"></div>
        </div>
        <div class="study__steps_bottom">
          <div class="study__content">Установить наше приложение «Автошкола РЕАЛ»</div>
          <div class="study__content_img">
            <img src="../img/svg/download-on-the-app-store-apple-logo-svgrepo-com.svg" alt="app store">
            <img src="../img/svg/google-play-badge.png" alt="google store">
          </div>
        </div>
      </div>

      <div class="study__steps animate__animated animate__backInRight">
        <div class="study__steps_top">
          <div class="img-part study__check-ico"></div>
          <div class="study__check-list"><img src="../img/svg/list.png" alt="check list"></div>
          <div class="img-part study__location-ico"><img src="../img/svg/fi_map-pin.svg" alt="location"></div>
        </div>
        <div class="study__steps_bottom">
          <div class="study__content">Заполнить паспортные данные, выбрать филиал, пакет обучения и место встречи с инструктором.
            </div>
        </div>
      </div>

      <div class="study__steps animate__animated animate__backInRight">
        <div class="study__steps_top">
          <div class="img-part study__wallet-ico"><img src="../img/svg/Wallet.svg" alt="wallet ico"></div>
          <div class="study__check-price">4 900 &#8381</div>
          <div class="img-part study__plus-ico"></div>
        </div>
        <div class="study__steps_bottom">
          <div class="study__content">Внести первоначальный взнос 4 900 рублей.
            </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="study__list">
      <ul class="study__list_left">
        <li>Далее с Вами свяжется наш менеджер для уточнения деталей.</li>
        <li>После оплаты, в личном кабинете, в разделе теория, появится весь теоретический материал, представленный в виде видеолекций, для каждой отдельной темы разработан подробный видеоурок, после просмотра урока, для закрепления полученных знаний, необходимо пройти зачет в виде теста, если все пройдено без ошибок, открывается следующая тема, при необходимостилекцию можно пересмотреть неограниченное количество раз, в случае возникновения вопросов, обратиться к консультанту.</li>
      </ul>

      <ul class="study__list_right">
        <li>Параллельно с теорией проходят уроки вождения. За Вами закрепляется опытный инструктор, запись на вождение осуществляется через личный кабинет, с возможностью выбора удобного дня и времени, при необходимости, запись можно отменить или перенести на другой день или время.</li>
        <li>Срок обучения 2 месяца.</li>
      </ul>
    </div>
  </div>
</div>
